@font-face {
  font-family: 'space';
  src: url('../fonts/space age.ttf');
}
@font-face {
  font-family: Avenger;
  src: url('../fonts/Avenger.ttf');
}
@font-face {
  font-family: Dosis;
  src: url('../fonts/Dosis.ttf');
}
body {
  padding: 0 !important;
  overflow: auto !important;
}
