@font-face {
  font-family: 'space';
  src: url('../fonts/space age.ttf');
}
@font-face {
  font-family: 'apollo';
  src: url('../fonts/APOLLO.otf');
}
@font-face {
  font-family: roboto-thin;
  src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
  font-family: roboto-light;
  src: url('../fonts/Roboto-Light.ttf');
}
body {
  padding: 0 !important;
  overflow: auto !important;
}
