* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'space';
  src: url('../fonts/space age.ttf');
}
@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis.ttf');
}

.heading {
  font-family: space;
  letter-spacing: 8px;
  font-size: 1.2rem;
  color: #1363df;
}
.sign {
  font-family: apollo;
  color: gray;
  font-size: 0.9rem;
}
.sign a {
  text-decoration: none;
  color: rgba(10, 105, 230, 0.546);
}
